.columnParent {
    display: flex;
    padding: 15px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

:not(.admonition-content .columnParent).columnParent p {
    white-space: normal;
}

.cm-preview-code-block .admonition-content .columnParent p {
    margin-bottom: -1em !important;
}

.columnChild {
    flex-grow: 1;
    flex-basis: 0px;
}