.columnParent {
    display: flex;
    padding: 15px 20px;
    flex-wrap: wrap;
    gap: 20px;
    white-space: normal
}

.admonition-content .columnParent {
    white-space: pre-wrap
}

.columnChild {
    flex-grow: 1;
    flex-basis: 0px;
}