.columnParent {
    display: flex;
    padding: 15px 20px;
    flex-wrap: wrap;
    gap: 20px;
}

:not(.admonition-content .columnParent).columnParent {
    white-space: normal
}

.columnChild {
    flex-grow: 1;
    flex-basis: 0px;
}